<div class="banner">
  <div class="container">
    <h1>COCKTAILMANIA</h1>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-outline-warning"%>
  </div>
</div>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <h5 class="card-title p-1"><%= cocktail.name %></h5>
      <div class="button">
      <p><%= link_to "See details", cocktail_path(cocktail), class: "btn btn-outline-dark color-2A6763"%></p>
      <p><%= link_to "Delete", cocktail_path(cocktail), method: :delete, class: "btn btn-outline-dark"%></p>
      </div>
    </div>
  <% end %>
</div>
